swan-radio {
    -webkit-tap-highlight-color: transparent;
    display: inline-block;
}

swan-radio[hidden] {
    display: none;
}

swan-radio .swan-radio-wrapper {
    display: -webkit-inline-flex;
    display: inline-flex;
    -webkit-align-items: center;
            align-items: center;
    vertical-align: middle;
}

swan-radio .swan-radio-input {
    -webkit-appearance: none;
            appearance: none;
    margin-right: 7px;
    outline: 0;
    background-color: #fff;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    position: relative;
}

swan-radio .swan-radio-input .swan-radio-input-button,
swan-radio .swan-radio-input.swan-radio-input-disabled.swan-radio-input-checked:before {
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    z-index: 2;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    background: transparent;
}

swan-radio .swan-radio-input .swan-radio-input-border {
    display: block;
    width: 100%;
    height: 100%;
    border: 1px solid #ccc;
    border-radius: 50%;
    content: "\20";
    box-sizing: border-box;
}

swan-radio .swan-radio-input.swan-radio-input-checked .swan-radio-input-button,
swan-radio .swan-radio-input.swan-radio-input-disabled.swan-radio-input-checked .swan-radio-input-button {
    background: #3C76FF;
}

swan-radio .swan-radio-input.swan-radio-input-checked .swan-radio-input-border {
    border-color: #3C76FF;
}

swan-radio .swan-radio-input.swan-radio-input-disabled {
    opacity: .3;
}

swan-radio .swan-radio-input.swan-radio-input-disabled .swan-radio-input-button {
    background: transparent;
}

swan-radio .swan-radio-input.swan-radio-input-disabled.swan-radio-input-checked:before {
    background: rgba(255, 255, 255, .5);
    z-index: 3;
    content: "\20";
}

swan-radio .swan-radio-input.swan-radio-input-disabled .swan-radio-input-border {
    border-color: #d1d1d1;
}
