swan-textarea {
    display: block;
    width: 300px;
    height: 150px;
    position: relative;
    font-size: 16px;
}

swan-textarea[hidden] {
    display: none;
}

swan-textarea div {
    word-break: break-all;
    line-height: 1.2;
    font-family: inherit;
    box-sizing: border-box;
    color: #ccc;
    white-space: inherit;
}

swan-textarea .swan-textarea-main {
    margin-top: 1px;
}

swan-textarea[auto-height="true"] {
    height: auto;
}

swan-textarea[auto-height="true"] .swan-textarea-main {
    min-height: 20px;
}

swan-textarea[auto-height="false"] {}