video[type="video"],
swan-video {
    position: relative;
    display: block;
    width: 300px;
    height: 225px;
    margin: auto;
    background: #5b5b5b;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

swan-video-play {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -24px;
    margin-top: -24px;
    width: 48px;
    height: 48px;
    background: url(./images/play.png) 50% 50% no-repeat;
    background-size: 48px 48px;
}

/* ios poster：android播放容器是多实例的，h5占位永不会展示；ios播放容器单例 */
swan-video[data-poster-type="contain"] {
    background-size: contain;
}
/* TODO: ios端上有bug： fill时候不对，表现得和cover一样 */
swan-video[data-poster-type="fill"],
swan-video[data-poster-type="cover"] {
    background-size: cover;
}

swan-video .slot,
swan-video .full {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    pointer-events: none;
}

swan-video .full {
    position: fixed;
}